.character-bar {
  position: absolute;
  top: 160px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.health-bar {
  position: absolute;
  height: 10px;
  width: 60px;
  background-color: green;
  border: 1px solid black;
}
.health-bar-low {
  position: absolute;
  height: 10px;
  width: 60px;
  background-color: red;
  border: 1px solid black;
  z-index: 1;
}

.health-bar.red {
  background-color: red;
}
